# Site settings
title: 落笙の小窝
SEOTitle: 落笙の小窝
header-img: img/home-bg.jpg
email: huangmaolin49@gmail.com
description: "这里是落笙特有的池沼网站"
keyword: ""
url: "https://space.bilibili.com/29061672" # your host, for absolute URL
baseurl: "" # for example, '/blog' if your blog hosted on 'host/blog'

# Publish posts or collection documents with a future date.
future: true

# SNS settings
RSS: false
#weibo_username: 
#zhihu_username: LuoSheng
#github_username: LuoSheng
#twitter_username: LuoSheng
#facebook_username:  LuoSheng
#linkedin_username:  firstname-lastname-idxxxx

# Build settings
# from 2016, 'pygments' is unsupported on GitHub Pages. Use 'rouge' for highlighting instead.
highlighter: rouge
permalink: pretty
paginate: 10
exclude:
  [
    "less",
    "node_modules",
    "Gruntfile.js",
    "package.json",
    "README.md",
    "README.zh.md",
  ]
anchorjs: true # if you want to customize anchor. check out line:181 of `post.html`
# If you have timezone issue (e.g. #68) in China, uncomment to use this:
#timezone: CN

# Gems
# from PR#40, to support local preview for Jekyll 3.0
# make sure you have this gem installed
# `$ gem install jekyll-paginate`
plugins: [jekyll-paginate]

# Markdown settings
# replace redcarpet to kramdown,
# although redcarpet can auto highlight code, the lack of header-id make the catalog impossible, so I switch to kramdown
# document: http://jekyllrb.com/docs/configuration/#kramdown
markdown: kramdown
kramdown:
  input: GFM # use Github Flavored Markdown !important
  syntax_highlighter_opts:
    span:
      line_numbers: false
    block:
      line_numbers: true
      start_line: 1

# Disqus settings
disqus_username: LuoSheng

# Netease settings
netease_comment: false

# Analytics settings
# Baidu Analytics
# ba_track_id: [your track id]

# Google Analytics
ga_track_id: "UA-49627206-1" # Format: UA-xxxxxx-xx
ga_domain: space.bilibili.com/29061672

# Sidebar settings
sidebar: true # whether or not using Sidebar.
sidebar-about-description: "317<br>"
sidebar-avatar: https://avatars.githubusercontent.com/u/136422547?s=400&u=f79fde973c40fe27038367185df5c10940218da9&v=4 # use absolute URL, seeing it's used in both `/` and `/about/`

# Featured Tags
featured-tags: true # whether or not using Feature-Tags
featured-condition-size: 1 # A tag will be featured if the size of it is more than this condition value

# Progressive Web Apps
chrome-tab-theme-color: "#000000"
service-worker: true

# MathJax rendering for layout:page (e.g. post preview)
page-mathjax: false

# friends
friends:
  [
    { title: "水漫-ShuiMan", href: "https://space.bilibili.com/1572926804" },
    { title: "秋竺-TQiuZhu", href: "https://space.bilibili.com/673871405" },
    { title: "香草-Peron ", href: "https://space.bilibili.com/2071565542" },
    { title: "野草-Vega", href: "" },
    { title: "小凌-Amia", href: "https://space.bilibili.com/1687042137" },
    { title: "闸种-LuoSheng", href: "https://space.bilibili.com/29061672" },
  ]
